* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    margin: 0 auto;
    max-width: calc(100vw - 20vw);
    height: 100vh;
}

img {
    width: 30vw;
    height: 100vh;
}